<section class="about-me-header">
  <div class="about-me-bg-img">
    <p class="heading-text">About Catherine</p>
  </div>
</section>

<section class="section white">
  <div class="row container">
    <div class="headshot about-me-pic">
      <img src="../images/headshot_sq.jpg"/>
    </div>
    <div class="about-me-container">
      <p class="text">
        I am passionate about helping people work towards positive change.  I use a relational approach, warmth, and humor in session in order to help clients shift patterns and create lives that they find rich and meaningful.
        <br><br>
        I received my Masters in Social Welfare from UCLA and have been practicing in the Bay Area since 2014.
        <br><br>
        It's hard to know if a therapist is a fit for your needs. I would love to chat with you for a <span class="highlight"><a href="/contact">free 15-minute consultation </a></span>to answer any questions and help you decide if we might be a good match to work together.
      </p>
    </div>
  </div>
</section>
