<div class="contact-wrapper">
  <section class="welcome-header">
    <div class="contact-bg-img">
      <p class="heading-text">Contact Catherine</p>
    </div>
  </section>

  <section class="section white">
    <div class="contact-info">
      <p class="text"> I can be reached at (510) 775-1548 or email me at <span><a href="mailto:SpragueTherapy@gmail.com">SpragueTherapy@gmail.com</a></span> to schedule an appointment.</p>
    </div>
    <div class="row contact-container">
      <div class="contact-left text">
        <p class="contact-rtn"> Returning clients sign-in to view upcoming appointments, pay for sessions, or see your bookshelf. </p>
        <a class="waves-effect waves-light btn" href="/users/login">Login</a>
      </div>
      <div class="contact-right text">
        <p class="in-person text">In-person - New Client</p>
        <p class="price text"><em>(50) minutes $110</em> </p>
        <br>
        <p class="in-person text">In-person - Returning Clients </p>
        <p class="price text"><em>(50) minutes $110</em></p>
      </div>
    </div>
  </section>
</div>
