
<section class="welcome-header">
  <div class="welcome-bg-img">
    <p class="heading-text">Therapy for positive change</p>
  </div>
</section>
<section class="section white">
  <div class="row container">
    <div class="headshot">
      <img src="../images/headshot.jpg"/>
    </div>
    <div class="about-me-container">
      <h3 class="header">Welcome!</h3>
      <p class="text">
        Welcome to my therapy practice.  I am a Licensed Clinical Social Worker based in the East Bay.  I specialize in working with young adults, families, and people of all ages experiencing major life transitions.  LGBTQ friendly.<br><br>
        I practice out of the Oakland Therapy Office at 2501 Harrison St. 94612<br><br>

        It's hard to know if a therapist is a fit for your needs. I would love to chat with you for a <span class="highlight"><a href="/contact">free 15-minute consultation </a></span>to answer any questions and help you decide if we might be a good match to work together.
      </p>
    </div>
  </div>
</section>
