<div class="row">
  <div class="col s6 offset-s3 index-text">
    <span class="flow-text">PROFILE PAGE</span>
  </div>
  <div class="col s6 offset-s3 index-text">
    <span class="flow-text">Welcome {{username}}</span>
  </div>
</div>
