<section class="welcome-header">
  <div class="psycho-bg-img">
    <p class="heading-text" id="psycho">Psychotherapy</p>
  </div>
</section>

<section class="section white">
  <div class="row container">
    <p class="text">
      Finding a therapist and approach that work for you is important!  I use an active and relational approach informed by Acceptance and Commitment Therapy (ACT).  You can read more about ACT
      <span><a href="https://www.actmindfully.com.au/upimages/Dr_Russ_Harris_-_A_Non-technical_Overview_of_ACT.pdf">here</a></span>. <br><br>
      At the core of my practice is the belief that people are happier when they live a life that’s in line with their values.  For example: If it’s important to you to co-parent compassion or to be honest in friendships or to demonstrate integrity in the workplace, you will be happier when you do these things.  But!  Thoughts, feelings, situations, interpersonal dynamics, all kinds of stuff can interfere with us living and behaving the way that we would like.  An ACT-informed mindfulness approach helps you develop skills and strategies to 1) identify what’s important to you and 2) reduce the impact of negative internal experiences so that you are freed up to act in line with what you care about.<br><br>
      It's hard to know if a therapist is a fit for your needs. I would love to chat with you for a <span class="highlight"><a href="/contact">free 15-minute consultation </a></span>to get to answer any questions and help you decide if we might be a good match to work together.
    </p>
  </div>
</section>
