
/* Navbar */
/*====================================================*/
.brand-logo {
  margin-left: 20px;
  font-weight: 200;
}

a.brand-logo {
  color: #ee6e73;
}

nav .nav-wrapper {
  background-color: #fff;
  position: relative;
  z-index: 999;
}

.right li a {
  color: #ee6e73;
  letter-spacing: .04em;
}

li a.btn {
  color: #fff;
}

.button-collapse {
  color: #ee6e73;
}

/* Dashboard */
/*====================================================*/

.dash-header {
  padding: 20px;
  text-align: center;
}

.flow-text {
  display: inline;
  padding: 10px 0;
}

h1.flow-text {
  text-align: center;
}

.modal-trigger.green {
  display: inline;
}

.btn.light-blue {
  margin-right: 10px;
}

.btn-signup {
  background-color: #ab47bc;
  float: right;
  margin-right: 10px;
}

.not-visible {
  display: none;
}

.collection-item.avatar {
  display: flex;
}

p.dash-notes {
  margin-top: 10px !important;
}

.user-info {
  flex: 1;
}

.appointment-block {
  flex: 2;
}

.edit-button, .delete-button {
  background: transparent;
}

.edit-button:hover, .delete-button:hover {
  background: #eee;
}

.edit-button i, .delete-button i {
  color: #999;
}

#add-link.modal.open {
  padding: 50px 0;
  width: 30%
}

div#new-appointment.modal.open {
  top: 2% !important;
  max-height: 100%;
  width: 40%;
  padding: 20px 0;
}

/*Welcome Page*/
/*====================================================*/

/*layout*/
section {
  padding: 0;
}

.row.container {
  padding: 70px 0;
  display: flex;
  margin: auto;
  width: 80%;
}

.headshot {
  flex: 1;
}

.about-me-container {
  flex: 2;
  margin-left: -50px;
}

/*styles*/

.welcome-bg-img {
  height: 500px;
  background: url('../images/flowers.jpg') no-repeat;
  background-position: 0% 10%;
  background-size: cover;
  opacity: 0.7;
}

.heading-text {
  text-align: center;
  position: relative;
  margin: 0;
  top: 30px;
  color: #fff;
  font-size: 50px;
  letter-spacing: .04em;
  font-family: Helvetica;
  font-weight: bold;
}

.headshot img {
  width: 60%;
  text-align: center;
}

.header {
  margin-top: 0;
  font-weight: 200;
  color: #737784;
}

.text {
  font-family: 'Open Sans', Helvetica;
  font-size: 16px;
  letter-spacing: .4px;
  line-height: 1.5em;
  color: #737784;
}



/*Profile Page*/
/*====================================================*/

.buffer {
  height: 30px;
}

.profile-wrapper {
  display: flex;
}

.left {
  flex: 1;
  padding: 20px;
  background-color: #eee;
  margin: 0 30px;
}

.right-side {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.personal-info-block {
  flex: 1;
}

.bookshelf {
  flex: 1;
  margin-top: 2rem;
  border-top: 1px solid #666;
}

iframe {
  border: 1px solid #666;
  box-shadow: 0px 10px 10px -5px #666;
}

.personal-info-head {
  margin-top: 0;
}

.modal-trigger {
  float: right;
}

.update {
  padding: 30px;
}

#user-setting.open {
  max-height: 100%
}

.time {
  margin-top: 0;
}

.location {
  margin-bottom: 3px;
}

.personal-info-text {
  margin-bottom: 0;
  margin-top: 3px;
}

.link {
  line-height: 40px;
}

.delete-butn {
  display: inline;
  float: right;
}

/*Signup*/
/*====================================================*/

.signup-page-wrapper {
  background-color: #78909c;
}

.page-header {
  /*text-align: center;*/
  /*display: inline;*/
  margin: 0;
  padding: 20px;
  color: #fff;
}

i.signup-icon {
  display: block;
  position: relative;
  z-index: 999;
  text-align: center;
  color: #9e9e9e;
  top: 60px;
}

.new-user {
  padding: 80px 20px 50px 20px !important;
  margin-top: -30px;
  margin-bottom: 70px;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.24);
  background-color: #fff;
  opacity: 0.7;
}

/*Footer*/
/*====================================================*/

.page-footer {
  background-color: #e0e0e0;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
}

.footer-text {
  display: inline;
}

.footer-email {
  margin-bottom: 8px;
}

.footer-email i {
  vertical-align: middle;
  margin-right: 8px;
}

.footer-email a {
  padding-top: 2px;
}

/*Login Page*/
/*====================================================*/

.login-bg-img {
  height: 627px;
  width: 100%;
  background: url('../images/flowers.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  filter: blur(5px);
  display: block;
  position: fixed;
  z-index: 1;
  margin-top:2px;
}

.login-wrapper {
  height: 83vh;
}

.form-container {
  margin-top: 50px;
  padding: 0 !important;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.login-title {
  border-bottom: 1px solid #9e9e9e;
}

.login-form {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  box-shadow: 0px 10px 10px -5px #666;
}

.username {
  margin-top: 40px;
  color: #9e9e9e;
}

.password {
  color: #9e9e9e;
}

.input-field label {
  letter-spacing: .03em;
}

input.validate {
  background-color: #fff;
}

.login-butn {
  width: 110px;
  height: 40px;
}

.login-butn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login-text {
  text-align: center;
  color: #26a69a;
}

/*Error Msgs*/
.card-panel {
  position: absolute;
  z-index: 999999;
  left: 42%;
  top: -1px;
}

/*About Me*/
/*====================================================*/

.about-me-bg-img {
  background: url('../images/purple-flowers.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  opacity: 0.7;
}

.about-me-pic img {
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-top: -200px;
  position: relative;
  z-index: 999;
  width: 80%
}

/*Pyschotherapy*/
/*====================================================*/

.psycho-bg-img {
  background: url('../images/growing.jpg') no-repeat bottom center;
  background-size: cover;
  height: 500px;
  opacity: 0.7;
}

/*Contact*/
/*====================================================*/

.contact-wrapper {
  margin-bottom: 80px;
}

.contact-bg-img {
  background: url('../images/blossom.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  opacity: 0.7;
}

.contact-info {
  text-align: center;
}

.contact-container {
  display: flex;
  width: 70%;
  border: 10px solid rgba(0,0,0,0.2);
}

.contact-left {
  flex: 1;
  padding: 10px;
}

.contact-right {
  flex: 1;
  padding: 10px;
}

.price, .in-person {
  margin: 0;
}

.contact-rtn {
  margin-bottom: 20px;
  margin-top: 0;
}

/*Media Queries*/
/*====================================================*/

@media (max-width: 600px) {
  .brand-logo {
    font-size: 16px !important;
    left: 45% !important;
  }

  .headshot {
    text-align: center;
  }

  h3.header {
    text-align: center;
  }

  .headshot img {
    margin: auto;
  }

  .about-me-pic {
    margin-top: -80px;
  }

  .about-me-container {
    margin: auto;
  }

  .row.container {
    flex-direction: column;
    padding: 0 0 70px 0;
  }

  .profile-wrapper {
    flex-direction: column;
  }

  .map iframe {
    width: 275px;
  }

  .right-side {
    margin: 0 30px;
  }

  #pyscho {
    font-size: 45px;
    top: 20%;
  }

  .collection {
    margin-top: -20px;
  }

  .dash-header {
    text-align: left;
  }

  .btn.green {
    margin-right: 10px;
  }

  div#new-appointment.modal.open {
    width: 80%;
  }

  .collection-item.avatar {
    flex-direction: column;
  }

  #add-link.modal.open {
    width: 80%;
  }

  .contact-container {
    width: 90%;
  }
}
